:host {
	display: block;
	height: 100%;
}
.wrapper-team {
	padding: 0 10px;
}
.create-team-btn {
	background: #151515;
	border: 1px solid rgb(216, 180, 106);
	color: white;
}
h1 {
	margin: 0;
	color: #fff;
}
