a {
	display: block;
}

.example-menu {
	background: red;
	height: 100%;
}

ul {
	margin: 0;
	padding: 0;
}
.wrapper-menu {
	position: absolute;
	background: #fff;
	width: 150px;
	border: 1px solid;
	left: 0px;
	top: 0;
	padding: 30px 10px 20px;
}
a {
	text-decoration: none;
	color: #000;
	&:hover {
		text-decoration: underline;
	}
}
